<div>
  <label for="world">Select World:</label>
  <select #worlds (change)="getSelected(worlds.value)">
    <option value="Adra">Adra</option>
    <option value="Alumbra">Alumbra</option>
    <option value="Antica" selected>Antica</option>
    <option value="Ardera">Ardera</option>
    <option value="Astera">Astera</option>
    <option value="Axera">Axera</option>
    <option value="Bastia">Bastia</option>
    <option value="Batabra">Batabra</option>
    <option value="Belobra">Belobra</option>
    <option value="Bombra">Bombra</option>
    <option value="Bona">Bona</option>
    <option value="Cadebra">Cadebra</option>
    <option value="Calmera">Calmera</option>
    <option value="Castela">Castela</option>
    <option value="Celebra">Celebra</option>
    <option value="Celesta">Celesta</option>
    <option value="Collabra">Collabra</option>
    <option value="Damora">Damora</option>
    <option value="Descubra">Descubra</option>
    <option value="Dibra">Dibra</option>
    <option value="Epoca">Epoca</option>
    <option value="Esmera">Esmera</option>
    <option value="Famosa">Famosa</option>
    <option value="Fera">Fera</option>
    <option value="Ferobra">Ferobra</option>
    <option value="Firmera">Firmera</option>
    <option value="Gentebra">Gentebra</option>
    <option value="Gladera">Gladera</option>
    <option value="Harmonia">Harmonia</option>
    <option value="Havera">Havera</option>
    <option value="Honbra">Honbra</option>
    <option value="Illusera">Illusera</option>
    <option value="Impulsa">Impulsa</option>
    <option value="Inabra">Inabra</option>
    <option value="Issobra">Issobra</option>
    <option value="Kalibra">Kalibra</option>
    <option value="Karna">Karna</option>
    <option value="Libertabra">Libertabra</option>
    <option value="Lobera">Lobera</option>
    <option value="Luminera">Luminera</option>
    <option value="Lutabra">Lutabra</option>
    <option value="Marbera">Marbera</option>
    <option value="Marcia">Marcia</option>
    <option value="Menera">Menera</option>
    <option value="Monza">Monza</option>
    <option value="Mudabra">Mudabra</option>
    <option value="Mykera">Mykera</option>
    <option value="Nadora">Nadora</option>
    <option value="Nefera">Nefera</option>
    <option value="Nossobra">Nossobra</option>
    <option value="Ocebra">Ocebra</option>
    <option value="Olima">Olima</option>
    <option value="Ombra">Ombra</option>
    <option value="Pacera">Pacera</option>
    <option value="Peloria">Peloria</option>
    <option value="Premia">Premia</option>
    <option value="Quelibra">Quelibra</option>
    <option value="Quintera">Quintera</option>
    <option value="Refugia">Refugia</option>
    <option value="Reinobra">Reinobra</option>
    <option value="Seanera">Seanera</option>
    <option value="Secura">Secura</option>
    <option value="Serdebra">Serdebra</option>
    <option value="Solidera">Solidera</option>
    <option value="Suna">Suna</option>
    <option value="Talera">Talera</option>
    <option value="Tembra">Tembra</option>
    <option value="Thyria">Thyria</option>
    <option value="Trona">Trona</option>
    <option value="Utobra">Utobra</option>
    <option value="Venebra">Venebra</option>
    <option value="Versa">Versa</option>
    <option value="Visabra">Visabra</option>
    <option value="Vunira">Vunira</option>
    <option value="Wintera">Wintera</option>
    <option value="Wizera">Wizera</option>
    <option value="Xandebra">Xandebra</option>
    <option value="Yonabra">Yonabra</option>
    <option value="Zenobra">Zenobra</option>
  </select>
  <br>
  <button (click)="infiniteLoop()">SCAN</button>
  <button (click)="stop()">STOP SCAN</button>

</div>
<div>
  <div *ngFor="let item of playersDeath">
    <a href="https://www.tibia.com/community/?name={{item.name}}" target="_blank">{{item.name}}</a>
  </div>
</div>